
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/_Layout.cshtml";
}
@model Product

<link href="~/Contents/ProductDetailStyleSheet.css" rel="stylesheet" />

<div class="product-detail-grid">



    <div class="back-container">
        <span class="iconify" data-inline="false" data-icon="ic:sharp-arrow-back-ios"></span>
        <h1 class="back-container-title">  Back to previous</h1>
    </div>

    <div class="product-detail-img-container">
        @foreach (var images in Model.ProductDetail)
        {
            <img class="detail-img" src="@Url.Content(images.Images.FirstOrDefault().Url)" />

        }
    </div>

    <div class="product-detail-info" id="@Model.ProductId">
        <div class="product-name">
            <h1>@Model.Name</h1>
        </div>


        <div class="price-container">

            @foreach (var productDetails in Model.ProductDetail)
            {

                <div class="product-price">
                    <div class="current-price">
                        <span>£</span><p class="price">@productDetails.Price</p>
                    </div>
                    <div class="previous-price">
                        £@productDetails.PreviousPrice
                    </div>
                </div>

            }
        </div>

        <div class="option-containers">

            <div class="size-container">
                <label>Size</label>
                <select class="size-menu prod-select" name="cars" id="cars">
                    <option id="1" value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                   
                </select>
            </div>

            <div class="flavour-container">
                <label>Flavour</label>
                <select class="Flavour-menu prod-select" name="cars" id="cars">
                    <option id="1" value="volvo">Extreme Chocolate</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                </select>


            </div>

        </div>

        <div class="add-to-cart-button">
            add to cart
        </div>


    </div>



    <div class="product-safety">
        <label class="product-label">Safety</label>
        <p class="product-content">@Model.Safety</p>


    </div>

    @if (Model.ProductDetail.FirstOrDefault().CategoryDetail.CategoryId == 4)
    {
    <div class="product-ingredient">
        <label class="product-label">Ingredient </label>
        <p class="product-content">@Model.Ingredient</p >
    </div>
    }
    <div class="product-description">
        <label class="product-label"> Product Description</label>
        <p class="product-content">
            @Model.Description
        </p>
    </div>






</div>
<script src="~/Scripts/ProductDetailJs.js"></script>