
@{
    ViewData["Title"] = "Catalogue";
    Layout = "~/Views/_Layout.cshtml";
}

@model CatalogueViewModel


<link href="~/Contents/CatalogueStyleSheet.css" rel="stylesheet" />



<div class="grid2by2">

    <div class="Category-title-container">
        <h1 class="product-category-title">@Model.Category.Name</h1>
    </div>

 

    <div class="product-grid">


        @foreach (var item in Model.Products)
        {



            <div class="product-card" id="@item.ProductId">

                <div class="product-percentage">
                    @( (int)((@item.Price/ @item.PreviousPrice) *100))%
                </div>

                <a asp-controller="Product" asp-action="detail" asp-route-id="@item.ProductId" class="product-img">
                    <img src="@Url.Content(item.Images.FirstOrDefault().Url)" />

                </a>
                <a asp-controller="Product" asp-action="detail" asp-route-id="@item.ProductId" class="productName">
                    <h4>@item.Product.Name</h4>
                </a>

                <div class="product-price">
                    <div class="current-price">
                        £<p class="price">@item.Price</p>
                    </div>
                    <div class="previous-price">
                        £@item.PreviousPrice
                    </div>
                </div>

                <input type="hidden" class="productDetailId" value="@item.ProductDetailId" />
                <input type="hidden" class="size-menu" value="1" />
                <input type="hidden" class="Flavour-menu" value="1" />

                <div class="add-to-cart-button">
                    Add to Cart
                </div>

            </div>

        }



    </div>



</div>
<script src="~/Scripts/sharedCartScript.js"></script>
<script src="~/Scripts/CatalogueCart.js"></script>