
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

@model CatalogueViewModel


    <link href="~/Contents/CatalogueStyleSheet.css" rel="stylesheet" />



<div class="grid2by2">

    <div class="Category-title-container">
        <h1 class="product-category-title">@Model.Category.Name</h1>
    </div>
    
    <div class="side-options">

        <label class="price-label">Price</label>
        <div class="price-option">

            <label class="lowestPrice">£0</label>
            <label class="highestPrice">£2000</label>

            <input class="price-range" type="range" />
        </div>

        <div class="brand">

            <label class="brand-label">Brand</label>

            <ul class="brand-options">

                <li>All</li>
                <li>Whey</li>
                <li>Whey</li>
                <li>Whey</li>
                <li>Whey</li>


            </ul>


        </div>


    </div>

    <div class="product-grid">


        @foreach(var item in Model.Products)
    {

    

        <div class="product-card">

            <div class="product-percentage">
                @( (int)((@item.ProductDetail.FirstOrDefault().Price/ @item.ProductDetail.FirstOrDefault().PreviousPrice) *100))%
            </div>

            <a  asp-controller="Product" asp-action="detail" asp-route-id="@item.ProductId" class="product-img">
                <img src="@Url.Content(item.ProductDetail.FirstOrDefault().Images.FirstOrDefault().Url)" />

            </a>
            <a asp-controller="Product" asp-action="detail" asp-route-id="@item.ProductId" class="productName">
                <h4>@item.Name</h4>
            </a>

            <div class="product-price">
                <div class="current-price">
                    £@item.ProductDetail.FirstOrDefault().Price
                </div>
                <div class="previous-price">
                    £@item.ProductDetail.FirstOrDefault().PreviousPrice
                </div>
            </div>

            <div class="add-to-cart-button">
                Add to Cart
            </div>

        </div>

    }

      

    </div>



</div>